<my-header>
</my-header>
<my-nav></my-nav>

<div id="page-wrapper">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h5 class="page-header-no">{{ 'formular management' | translate }}</h5>
        </div>
        <div class="row">
            <div class="col-md-3" style="padding: 0px 2px;">
                <div class="formula-form">
                </div>
            </div>
            <div class="col-md-3" style="padding: 0px 2px;">
                <div class="material-form">

                </div>
            </div>
            <div class="col-md-6" style="padding: 0px 2px;">
                <div class="recipe-form">

                </div>
            </div>
        </div>
    </div>
</div>
